.employees_wrapper .jss1 {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 32px;
  padding-right: 32px
}

.employees_wrapper .jss5 {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 32px
}

.employees_wrapper .jss6 {
  margin-right: 56px
}

.employees_wrapper .jss7 {
  flex-grow: 1
}

.employees_wrapper .jss13 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 318px;
  z-index: -1;
  position: absolute;
  background-color: rgb(31, 156, 93)
}

.employees_wrapper .jss15 {
  color: rgb(255, 255, 255);
  height: 108px;
  display: flex;
  align-items: center;
  justify-content: space-between
}

.employees_wrapper .jss33 {
  display: flex;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
  justify-content: space-between
}

.employees_wrapper .jss34 {
  padding: 16px 32px
}

.employees_wrapper .jss35 {
  color: rgb(148, 147, 141);
  margin-bottom: 12px
}

.employees_wrapper .jss36 {
  margin-top: 16px
}

.employees_wrapper .jss37 {
  padding: 16px 32px
}

.employees_wrapper .jss38 {
  color: rgb(148, 147, 141);
  margin-bottom: 12px
}

.employees_wrapper .jss39 {
  margin-top: 16px
}

.employees_wrapper .jss40 {
  padding: 16px 32px
}

.employees_wrapper .jss41 {
  color: rgb(148, 147, 141);
  margin-bottom: 12px
}

.employees_wrapper .jss42 {
  margin-top: 16px
}

.employees_wrapper .jss43 {
  padding: 16px 32px
}

.employees_wrapper .jss44 {
  color: rgb(148, 147, 141);
  margin-bottom: 12px
}

.employees_wrapper .jss45 {
  margin-top: 16px
}

.employees_wrapper .jss46 {
  padding: 16px 32px
}

.employees_wrapper .jss47 {
  color: rgb(148, 147, 141);
  margin-bottom: 12px
}

.employees_wrapper .jss48 {
  margin-top: 16px
}

.employees_wrapper .jss51 {
  display: flex;
  align-items: center
}

.employees_wrapper .jss55 {
  margin-right: 16px
}

.employees_wrapper .jss59 {
  padding: 32px
}

.employees_wrapper .jss66 {
  display: block
}

.employees_wrapper .jss67 {
  margin-top: 40px
}

.employees_wrapper .jss71 {
  padding-top: 32px;
  padding-bottom: 32px
}

.employees_wrapper .jss73 {
  margin-left: 32px;
  margin-right: 32px
}

.employees_wrapper .jss74 {
  text-align: center;
  margin-bottom: 40px
}

.employees_wrapper .jss75 {
  display: flex;
  padding: 16px;
  align-items: center;
  flex-direction: column
}

.employees_wrapper .jss76 {
  margin: 12px
}

.employees_wrapper .jss82 {
  margin: 8px 32px 8px 8px;
  text-align: right
}

.employees_wrapper .jss85 {
  width: 132px;
  height: 132px;
  padding: 4px;
  box-sizing: content-box;
  border-radius: 50%;
  background-color: rgb(202, 3, 0)
}

.employees_wrapper .jss85a {
  width: 132px;
  height: 132px;
  padding: 4px;
  box-sizing: content-box;
  border-radius: 50%;
  background-color: rgb(148, 147, 141)
}

.employees_wrapper .jss86 {
  border: 2px solid white;
  border-radius: 50%
}

.employees_wrapper .jss88 {
  color: rgb(202, 3, 0);
  display: flex;
  margin-top: 8px;
  align-items: center
}

.employees_wrapper .jss94 {
  margin-top: 32px
}

.employees_wrapper .jss95 {
  margin-bottom: 12px
}

.employees_wrapper .jss98 {
  margin-top: 32px
}

.employees_wrapper .jss99 {
  margin-bottom: 12px
}

.employees_wrapper .jss100 {
  margin-bottom: 12px
}

.employees_wrapper .jss101 {
  margin-bottom: 12px
}

.employees_wrapper .jss102 {
  margin-top: 40px
}

.employees_wrapper .jss110 {
  margin-top: 40px
}

.employees_wrapper .jss111 {
  margin-top: 12px
}

.employees_wrapper .jss112 {
  margin-top: 40px
}

.employees_wrapper .jss113 {
  margin-top: 12px
}

.employees_wrapper .jss114 {
  margin-top: 40px
}

.employees_wrapper .jss115 {
  margin-top: 12px
}

.employees_wrapper .jss138 {
  display: flex;
  position: relative;
  padding-right: 0px
}

.employees_wrapper .jss139 {
  width: 50%;
  margin-top: 0px;
  padding-right: 8px
}

.employees_wrapper .jss140 {
  overflow: hidden
}

.employees_wrapper .jss141 {
  display: flex;
  min-height: 28px;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 0px
}

.employees_wrapper .jss142 {
  display: flex;
  margin-bottom: 8px
}

.employees_wrapper .jss143 {
  width: 100%
}

.employees_wrapper .jss144 {
  display: flex;
  justify-content: space-between
}

.employees_wrapper .jss146 {
  flex: 1 1 0%;
  display: flex;
  position: relative;
  margin-right: 0px;
  flex-direction: column
}

.employees_wrapper .jss147 {
  flex: 1 1 0%;
  display: flex
}

.employees_wrapper .jss148 {
  flex: 1 1 0%;
  display: flex;
  max-width: 28px;
  min-width: 28px;
  text-align: center;
  flex-direction: column
}

.employees_wrapper .jss149 {
  flex: 1 1 0%
}

.employees_wrapper .jss150 {
  flex: 1 1 0%;
  display: flex;
  max-width: 28px;
  min-width: 28px;
  text-align: center;
  flex-direction: column
}

.employees_wrapper .jss151 {
  flex: 1 1 0%
}

.employees_wrapper .jss152 {
  flex: 1 1 0%;
  display: flex;
  max-width: 28px;
  min-width: 28px;
  text-align: center;
  flex-direction: column
}

.employees_wrapper .jss153 {
  flex: 1 1 0%
}

.employees_wrapper .jss154 {
  flex: 1 1 0%;
  display: flex;
  max-width: 28px;
  min-width: 28px;
  text-align: center;
  flex-direction: column
}

.employees_wrapper .jss155 {
  flex: 1 1 0%
}

.employees_wrapper .jss156 {
  flex: 1 1 0%;
  display: flex;
  max-width: 28px;
  min-width: 28px;
  text-align: center;
  flex-direction: column
}

.employees_wrapper .jss157 {
  flex: 1 1 0%
}

.employees_wrapper .jss158 {
  flex: 1 1 0%;
  display: flex;
  max-width: 28px;
  min-width: 28px;
  text-align: center;
  flex-direction: column
}

.employees_wrapper .jss159 {
  flex: 1 1 0%
}

.employees_wrapper .jss160 {
  flex: 1 1 0%;
  display: flex;
  max-width: 28px;
  min-width: 28px;
  text-align: center;
  flex-direction: column
}

.employees_wrapper .jss161 {
  flex: 1 1 0%
}

.employees_wrapper .jss162 {
  flex: 1 1 0%;
  display: flex;
  max-width: 28px;
  min-width: 28px;
  text-align: center;
  flex-direction: column
}

.employees_wrapper .jss163 {
  flex: 1 1 0%
}

.employees_wrapper .jss166 {
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  padding-left: 4px;
  margin-bottom: 8px;
  padding-right: 4px;
  background-color: rgba(33, 33, 33, 0.6);
  top: 28px;
  left: 0px;
  width: 224px;
  height: 22.4px
}

.employees_wrapper .jss167 {
  right: 0px;
  position: absolute;
  margin-top: 28px;
  margin-right: 12px
}

.employees_wrapper .MuiGrid-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box
}

.employees_wrapper .MuiGrid-item {
  margin: 0;
  box-sizing: border-box
}

.employees_wrapper .MuiGrid-wrap-xs-nowrap {
  flex-wrap: nowrap
}

.employees_wrapper .MuiGrid-justify-xs-center {
  justify-content: center
}

.employees_wrapper .MuiGrid-justify-xs-space-between {
  justify-content: space-between
}

.employees_wrapper .MuiGrid-grid-xs-3 {
  flex-grow: 0;
  max-width: 25%;
  flex-basis: 25%
}

.employees_wrapper .MuiGrid-grid-xs-12 {
  flex-grow: 0;
  max-width: 100%;
  flex-basis: 100%
}

@media (min-width: 839px) {
.employees_wrapper   .MuiGrid-grid-sm-5 {
    flex-grow: 0;
    max-width: 41.666667%;
    flex-basis: 41.666667%
  }

.employees_wrapper   .MuiGrid-grid-sm-7 {
    flex-grow: 0;
    max-width: 58.333333%;
    flex-basis: 58.333333%
  }
}

.employees_wrapper .MuiTypography-root {
  margin: 0
}

.employees_wrapper .MuiTypography-body1 {
  font-size: 16px;
  font-family: Open Sans, sans-serif;
  font-weight: inherit;
  line-height: 1.4
}

.employees_wrapper .MuiTypography-h1 {
  font-size: 48px;
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  line-height: 1.4
}

.employees_wrapper .MuiTypography-h2 {
  font-size: 32px;
  font-family: Open Sans, sans-serif;
  font-weight: 300;
  line-height: 1.4
}

.employees_wrapper .MuiTypography-h3 {
  font-size: 20px;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  line-height: 1.4
}

.employees_wrapper .MuiTypography-h5 {
  color: #94938D;
  font-size: 12px;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  line-height: 1.4;
  text-transform: uppercase
}

.employees_wrapper .MuiTypography-subtitle1 {
  font-size: 14px;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  line-height: 1.4
}

.employees_wrapper .MuiTypography-subtitle2 {
  font-size: 12px;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  line-height: 1.4
}

.employees_wrapper .MuiTypography-noWrap {
  overflow: hidden;
  white-space: nowrap
}

.employees_wrapper .MuiTypography-colorPrimary {
  color: #1F9C5D
}

.employees_wrapper .MuiTypography-colorTextSecondary {
  color: #54534A
}

.employees_wrapper .MuiTouchRipple-root {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  position: absolute;
  border-radius: inherit;
  pointer-events: none
}

.employees_wrapper .MuiButtonBase-root {
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  position: relative;
  align-items: center;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  -moz-user-select: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent
}

.employees_wrapper .MuiButtonBase-root::-moz-focus-inner {
  border-style: none
}

.employees_wrapper .MuiButton-root {
  cursor: pointer;
  height: 40px;
  margin: 4px;
  font-size: 12px;
  min-width: 64px;
  box-sizing: border-box;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  line-height: 1.75;
  border-radius: 999px;
  text-transform: uppercase
}

.employees_wrapper .MuiButton-root:hover {
  text-decoration: none;
  background-color: rgba(33, 33, 33, 0.04)
}

@media (hover: none) {
.employees_wrapper   .MuiButton-root:hover {
    background-color: transparent
  }
}

.employees_wrapper .MuiButton-label {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit
}

.employees_wrapper .MuiButton-outlined {
  border: 1px solid rgba(0, 0, 0, 0.23);
  padding: 5px 15px;
  border-width: 2px !important
}

.employees_wrapper .MuiButton-outlinedPrimary {
  color: #1F9C5D;
  border: 1px solid rgba(31, 156, 93, 0.5)
}

.employees_wrapper .MuiButton-outlinedPrimary:hover {
  border: 1px solid #1F9C5D;
  background-color: rgba(31, 156, 93, 0.04)
}

@media (hover: none) {
.employees_wrapper   .MuiButton-outlinedPrimary:hover {
    background-color: transparent
  }
}

.employees_wrapper .MuiButton-disableElevation {
  box-shadow: none
}

.employees_wrapper .MuiButton-disableElevation:hover {
  box-shadow: none
}

.employees_wrapper .MuiButton-disableElevation:active {
  box-shadow: none
}

.employees_wrapper .MuiBackdrop-root {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: -1;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-tap-highlight-color: transparent
}

.employees_wrapper .MuiPaper-root {
  color: #212121;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #FFFFFF
}

.employees_wrapper .MuiPaper-rounded {
  border-radius: 4px
}

.employees_wrapper .MuiPaper-elevation0 {
  box-shadow: none
}

.employees_wrapper .MuiPaper-elevation1 {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12)
}

.employees_wrapper .MuiPaper-elevation16 {
  box-shadow: 0px 8px 10px -5px rgba(0, 0, 0, 0.2), 0px 16px 24px 2px rgba(0, 0, 0, 0.14), 0px 6px 30px 5px rgba(0, 0, 0, 0.12)
}

.employees_wrapper .MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  -moz-user-select: none
}

.employees_wrapper .MuiSvgIcon-colorPrimary {
  color: #1F9C5D
}

.employees_wrapper .MuiSvgIcon-fontSizeLarge {
  font-size: 2.1875rem
}

.employees_wrapper .jss9 {
  bottom: 0;
  position: absolute;
  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms
}

.employees_wrapper .jss10 {
  background-color: #1F9C5D
}

.employees_wrapper .MuiTabs-root {
  display: flex;
  overflow: hidden;
  min-height: 48px;
  -webkit-overflow-scrolling: touch
}

.employees_wrapper .MuiTabs-flexContainer {
  display: flex
}

.employees_wrapper .MuiTabs-scroller {
  flex: 1 1 auto;
  display: inline-block;
  position: relative;
  white-space: nowrap
}

.employees_wrapper .MuiTabs-fixed {
  width: 100%;
  overflow-x: hidden
}

.employees_wrapper .MuiTabs-scrollable {
  overflow-x: scroll;
  scrollbar-width: none
}

.employees_wrapper .MuiTabs-scrollable::-webkit-scrollbar {
  display: none
}

.employees_wrapper .MuiTab-root {
  padding: 6px 12px;
  overflow: hidden;
  position: relative;
  max-width: 264px;
  min-width: 72px;
  box-sizing: border-box;
  text-align: center;
  flex-shrink: 0;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
  line-height: 1.75;
  white-space: normal;
  text-transform: uppercase
}

@media (min-width: 839px) {
.employees_wrapper   .MuiTab-root {
    min-width: 160px
  }
}

.employees_wrapper .MuiTab-textColorInherit {
  color: inherit;
  opacity: 0.7
}

.employees_wrapper .MuiTab-textColorInherit.Mui-selected {
  opacity: 1
}

.employees_wrapper .MuiTab-wrapped {
  font-size: 0.75rem;
  line-height: 1.5
}

.employees_wrapper .MuiTab-wrapper {
  width: 100%;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: center
}

.employees_wrapper .jss8 {
  max-height: 40px;
  min-height: 40px
}

.employees_wrapper .jss22 {
  color: #FFFFFF;
  border-color: #FFFFFF
}

.employees_wrapper .jss22:hover {
  color: #FFFFFF;
  border-color: #FFFFFF;
  background-color: #31DC86
}

.employees_wrapper .jss23 {
  color: #CA0300
}

.employees_wrapper .jss23.MuiButton-outlined {
  border-color: #CA0300
}

.employees_wrapper .jss23.MuiButton-outlined:hover {
  color: #FFFFFF;
  opacity: 0.6;
  border-color: #CA0300;
  background-color: #CA0300
}

.employees_wrapper .jss24 {
  border-left: none !important;
  margin-left: 0;
  border-radius: 0 999px 999px 0
}

.employees_wrapper .MuiChip-root {
  color: rgba(0, 0, 0, 0.87);
  cursor: default;
  height: 32px;
  display: inline-flex;
  outline: 0;
  padding: 0;
  font-size: 0.8125rem;
  box-sizing: border-box;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  align-items: center;
  font-family: Open Sans, sans-serif;
  white-space: nowrap;
  border-radius: 16px;
  vertical-align: middle;
  justify-content: center;
  text-decoration: none
}

.employees_wrapper .MuiChip-outlined {
  border: 1px solid rgba(0, 0, 0, 0.23);
  background-color: transparent
}

.employees_wrapper .MuiChip-label {
  overflow: hidden;
  white-space: nowrap;
  padding-left: 12px;
  padding-right: 12px;
  text-overflow: ellipsis
}

.employees_wrapper .MuiDrawer-paper {
  top: 0;
  flex: 1 0 auto;
  height: 100%;
  display: flex;
  outline: 0;
  z-index: 1200;
  position: fixed;
  overflow-y: auto;
  flex-direction: column;
  -webkit-overflow-scrolling: touch
}

.employees_wrapper .MuiDrawer-paperAnchorRight {
  left: auto;
  right: 0
}

.employees_wrapper .MuiAvatar-root {
  display: flex;
  overflow: hidden;
  position: relative;
  font-size: 1.25rem;
  align-items: center;
  flex-shrink: 0;
  font-family: Open Sans, sans-serif;
  line-height: 1;
  border-radius: 50%;
  justify-content: center;
  -moz-user-select: none
}

.employees_wrapper .MuiAvatar-img {
  color: transparent;
  width: 100%;
  height: 100%;
  object-fit: cover;
  text-align: center;
  text-indent: 10000px
}

.employees_wrapper .jss54 {
  color: rgb(255, 255, 255);
  width: 40px;
  height: 40px;
  background-color: rgb(189, 189, 186)
}

.employees_wrapper .jss87 {
  color: rgb(255, 255, 255);
  width: 128px;
  height: 128px;
  background-color: rgb(189, 189, 186)
}

.employees_wrapper .MuiLink-underlineNone {
  text-decoration: none
}

.employees_wrapper .jss145:hover {
  color: #31DC86
}

.employees_wrapper .jss145:active {
  color: #54534A
}

.employees_wrapper .jss91 {
  border-width: 2px;
  margin-right: 8px;
  margin-bottom: 8px
}

.employees_wrapper .jss92 {
  color: #212121;
  border-color: rgba(33, 33, 33, 0.4)
}

.employees_wrapper .MuiCollapse-container {
  transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms
}

.employees_wrapper .MuiCollapse-entered {
  height: auto;
  overflow: visible
}

.employees_wrapper .MuiCollapse-wrapper {
  display: flex
}

.employees_wrapper .MuiCollapse-wrapperInner {
  width: 100%
}

.employees_wrapper .jss30 {
  margin-bottom: 16px
}

.employees_wrapper .jss31 {
  text-transform: capitalize
}

.employees_wrapper .jss32 {
  cursor: pointer;
  height: 64px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(33, 33, 33, 0.15);
  background-color: #FFFFFF
}

.employees_wrapper .jss32:hover {
  background-color: #F7F7F7
}

.employees_wrapper .MuiCard-root {
  overflow: hidden
}

.employees_wrapper .jss2 {
  color: #FFFFFF;
  letter-spacing: 3px
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

*, *::before, *::after {
  box-sizing: inherit
}

body {
  color: #212121;
  margin: 0;
  font-size: 0.875rem;
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  line-height: 1.43;
  background-color: #F7F7F7
}

a {
  color: #2854BE
}

a:hover {
  color: #31DC86
}

a:active {
  color: #54534A
}

.employees_wrapper .jss183 {
  background-color: #F7F7F7
}

.employees_wrapper .jss184 {
  height: unset;
  min-height: 100%
}

@media (max-width: 1022.95px) {
.employees_wrapper   .jss184 {
    width: 1365px;
    flex-shrink: 0
  }
}

@media (min-width: 839px) {
.employees_wrapper   .jss184 {
    width: 840px;
    flex-shrink: 0
  }
}

@media (min-width: 1023px) {
.employees_wrapper   .jss184 {
    width: 928px;
    flex-shrink: 0
  }
}

@media (min-width: 1319px) {
.employees_wrapper   .jss184 {
    width: 1254px;
    flex-shrink: 0
  }
}

.employees_wrapper .jss185 {
  text-align: center
}

.employees_wrapper .jss186 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center
}

.employees_wrapper .jss186 > * {
  margin: 2px
}

.employees_wrapper .jss188 > h5 {
  line-height: 28px
}

.employees_wrapper .jss188 > .grid {
  border-left: 1px solid rgba(33, 33, 33, 0.15)
}

.employees_wrapper .jss188.current > h5 {
  color: #212121
}

.employees_wrapper .jss192 {
  max-height: 88px
}

.employees_wrapper .jss193 {
  background-color: #F7F7F7
}

.employees_wrapper .jss194 {
  height: 4px
}

.employees_wrapper .jss195 .MuiTab-root {
  color: #94938D;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3px
}

.employees_wrapper .jss195 button.Mui-selected {
  color: #1F9C5D
}

.employees_wrapper .jss195 .MuiTab-root:hover {
  color: #1F9C5D
}

.employees_wrapper .gbgfMs.gbgfMs:hover {
  background-color: rgb(247, 247, 247);
  cursor: pointer
}

.employees_wrapper .dXWCyY .MuiTabs-indicator {
  height: 4px;
  background-color: rgb(255, 255, 255)
}
